[Desktop Entry]
Version=1.0
Type=Application
Name=Minecraft Launcher
Comment=3d block based sandbox game
Icon=/home/pi/Pictures/Icons/AnyConv.com__mcmulti.svg
Exec=java -jar /usr/share/minecraftjava/launcher.jar
Categories=Game;