[Desktop Entry]
Version=1.1
Type=Application
Name=Minecraft Bedrock Launcher
Comment=A Minecraft: Bedrock Edition
Icon=/home/pi/pi-apps/apps/Minecraft Bedrock/icon-64.png
Exec=/usr/bin/MCBedrock.AppImage
Categories=Game;
Terminal=false
StartupNotify=true
